Button {
    border: none;
    margin: 1rem;
    padding: 0;
    flex-basis: 20%;
    height: 80%;
    font-size: 2rem;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    color: white;
    transition: all 0.5s ease-in-out;
    outline: none;
}

Button:hover {
    cursor: pointer;
    background-color: rgb(70, 69, 69);
}

.orange {
    background-color: orange;
}

.orange:hover {
    background-color: rgb(250, 175, 35);
}

.gray {
    background-color: gray;
}

.gray:hover {
    background-color: rgb(146, 143, 143);
}

.light {
    background-color: rgb(54, 51, 51);
}

.light:hover {
    background-color: rgb(70, 67, 67);
}

.selected {
    background-color: white;
    color: orange;
}

.selected:hover {
    background-color: rgb(231, 229, 229);
}

.wide {
    flex-basis: 43%;
    border-radius: 50px;
    text-align: left;
    padding-left: 2.5rem;
}

@media screen and (min-width: 650px) and (max-width: 1199px) {
    Button {
      border-radius: 40px;
    }

    .wide {
        border-radius: 40px;
    }
}