.display {
    background: black;
    color: white;
    font-size: 5rem;
    padding: 0.5rem 1rem;
    text-align: end;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.radView {
    font-size: 1rem;
    margin: 0 auto 0 0;
}

.display p:nth-child(2) {
    margin: 0 0 0 auto;
}